<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dashboard Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/admin.css" />
    <link rel="stylesheet" href="~/css/clientcss.css" />
    <link rel="stylesheet" href="~/css/editclientcss.css" />
    <link rel="stylesheet" href="~/css/detailsclientcss.css" />
    <link rel="stylesheet" href="~/css/deleteclientcss.css" />
    <link rel="stylesheet" href="~/css/indexcliencss.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    
</head>
<body>

    <nav class="sidebar">
        <div class="sidebar-header">
            <i class="bi bi-car-front-fill me-2 text-primary"></i> RapidRide
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index"><i class="bi bi-speedometer2 me-2"></i> Tableau de bord</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="Index"><i class="bi bi-person-fill me-2"></i> Utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Vehicles" asp-action="Index"><i class="bi bi-truck me-2"></i> Véhicules</a>
            </li>
        </ul>
    </nav>

    <nav class="navbar navbar-top">
        <div class="container-fluid">
            <form asp-area="Admin" asp-controller="Auth" asp-action="Logout" method="post" id="logoutForm">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    Se déconnecter
                </button>
            </form>
            <span class="me-3 d-none d-md-inline">
                @Context.Session.GetString("UserNom") (@Context.Session.GetString("UserEmail"))
            </span>

        </div>
    </nav>

    <form asp-area="Admin" asp-controller="Auth" asp-action="Logout" method="post" id="logoutForm">
        <button type="submit" class="nav-link btn btn-link text-dark">
            Se déconnecter
        </button>
    </form>

    <main class="main-content">
        @RenderBody()
    </main>

    <link href="~/lib/jquery/dist/jquery.min.js" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>