@{
    ViewData["Title"] = "Home";
    Layout = "_UserLayout";
}
<div class="container-fluid">
    @await Html.PartialAsync("Partials/_HeroSection")
    @await Html.PartialAsync("Partials/_LogosSection")
    @await Html.PartialAsync("Partials/_FastSimpleSection")
    @await Html.PartialAsync("Partials/_CarListSection")
    @await Html.PartialAsync("Partials/_CtaFooter")
</div>
