<section class="hero-section">
    <div class="container">
        <h1 class="mb-3">Seamless Travel With Fast <br /><span class="text-primary">RapidRide</span> Car Rental</h1>
        <p class="lead text-muted">Explore the world in style with our premium car rental service.</p>
        <div class="hero-buttons">
            <a class="btn btn-primary"
               asp-area="Client"
               asp-controller="User"
               asp-action="Vehicles">
                <i class="bi bi-car-front-fill me-2"></i>Views All Cars
            </a>
            <a class="btn btn-outline-secondary"
               asp-area="Client"
               asp-controller="User"
               asp-action="ContactUs">
                <i class="bi bi-headset me-2"></i>Contact Us
            </a>
        </div>
        <div class="hero-cars">
            <img src="images/client/hero-group.png" alt="Different cars for rent">
        </div>
    </div>
</section>