<section class="logos-section text-center py-5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-4 col-md-2 mb-3"><img src="images/client/brand-1.png" alt="Logo" class="img-fluid logo-item"></div>
            <div class="col-4 col-md-2 mb-3"><img src="images/client/brand-2.png" alt="Logo" class="img-fluid logo-item"></div>
            <div class="col-4 col-md-2 mb-3"><img src="images/client/brand-3.png" alt="Logo" class="img-fluid logo-item"></div>
            <div class="col-4 col-md-2 mb-3"><img src="images/client/brand-4.png" alt="Logo" class="img-fluid logo-item"></div>
            <div class="col-4 col-md-2 mb-3"><img src="images/client/brand-5.png" alt="Logo" class="img-fluid logo-item"></div>
            <div class="col-4 col-md-2 mb-3"><img src="images/client/brand-6.png" alt="Logo" class="img-fluid logo-item"></div>
        </div>
    </div>
</section>