<section class="fast-simple-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="mb-4">Rapide et Simple</h2>
                <div class="fast-simple-item">
                    <i class="bi bi-calendar-check"></i>
                    <div>
                        <h4>Réservation Facile</h4>
                        <p class="mb-0">Choisissez votre voiture et vos dates en quelques clics. La réservation est simple et rapide.</p>
                    </div>
                </div>
                <div class="fast-simple-item">
                    <i class="bi bi-car-front"></i>
                    <div>
                        <h4>Large Choix</h4>
                        <p class="mb-0">Sélectionnez votre voiture parmi notre flotte, des modèles économiques aux voitures de luxe.</p>
                    </div>
                </div>
                <div class="fast-simple-item">
                    <i class="bi bi-credit-card"></i>
                    <div>
                        <h4>Paiement Sécurisé</h4>
                        <p class="mb-0">Effectuez votre réservation en toute sécurité avec nos options de paiement fiables et rapides.</p>
                    </div>
                </div>
                <div class="fast-simple-item">
                    <i class="bi bi-key"></i>
                    <div>
                        <h4>Prise en Charge Rapide</h4>
                        <p class="mb-0">Récupérez vos clés et prenez la route. Notre processus de prise en charge est rapide et efficace.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="fast-simple-image-container">
                    <img src="/images/client/rent-img.jpg" height="100%" />
                </div>
            </div>
        </div>
    </div>
</section>
